html *::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

html *::-webkit-scrollbar-track {
    opacity: 0.6;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    opacity: 0.9;
    background: #424242;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
}

html *::-webkit-scrollbar-thumb:hover {
    background: #999;
}